*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@400;500;700&family=Work+Sans:wght@400;500;600;700&display=swap');

.container{
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}
.btn-primary{
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    background: #FF900E;
    border-radius: 8px;
    border: none;
    padding: 18px;
}

/* Header */
.header{
    background-color:  rgba(255, 144, 14, 0.1);
}

/* ------------------
    Nav section start  
 --------------------*/
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0px;
    margin-bottom: 50px;
}
nav h1 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}
ul{
    display: flex;
    gap: 35px;
}
ul li {
    list-style: none;
}
ul li a{
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: #424242;
}

/*------------------
 Banner section start
 ---------------------*/
.banners{
    max-width: 865px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    text-align: center;    
}
.banners h1{
    font-weight: 700;
    font-size: 64px;
}
.banners p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #727272;
    margin: 15px 0;
}
.banner-img img{
    margin-top: 60px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin-bottom: 30px;
}


/* -----------------------------
Our Features team section start
-------------------------------- */
.our-features-area{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    padding: 0px 30px;
    margin-top: 50px;
}
.our-features-img{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}
.our-features-img img {
    max-width: 300px;
    height: 300px;
    object-fit: cover;
}
.our-features-info h1{
    font-weight: 500;
    font-size: 45px;
}
.list{
    color: #727272;;
}
.our{
    color: #131313;
}
.features{
    color: #FF900E;
}
.our-features-area p{
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin: 15px 0px;
    color: #727272;
}
